
:root {
    --primary-color:             #6425D3;
    --black-color:               #000000;
    --gray-color:                #606060;
    --white-color:               #ffffff;
    --light-blue: #FBFDFE;

    --gradient-color: linear-gradient(131deg, #6425D3, #A259FF);
  
  }



